@import url("https://fonts.googleapis.com/css2?family=Nunito:wght@200;300;400;600;700&display=swap"); /*importing font */

/* default colors */
:root {
  --white: #ffffff;
  --purple: #4d194d;
  --hover: #0b525b;
  --themeDotBorder: #fff;
  --background: #fff;
  --text: #333;
  --bodycolor: #f7f7f7;
}

* {
  font-family: "Nunito", sans-serif;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  outline: none;
  border: none;
  text-decoration: none;
  transition: 0.3s;
}

html {
  font-size: 62.5%;
  overflow-x: hidden;
  scroll-behavior: smooth;
}

body {
  background: var(--bodycolor);
}

section {
  padding: 2rem 9%;
}

header {
  position: sticky;
  top: 0;
  left: 0;
  right: 0;
  z-index: 1000;
  background: var(--background);
  padding: 1.5rem 9%;
  box-shadow: 0 0.5rem 1rem rgba(0, 0, 0, 0.1);
  display: flex;
  align-items: center;
  justify-content: space-between;
}

section {
  padding: 2rem 9%;
}

/* all properties button settings */
.btn1 {
  display: flex;
  justify-content: center;
  border-radius: 0.5rem;
  font-size: 1.7rem;
  color: var(--white);
  background: var(--purple);
  padding: 0.8rem 3.5rem;
  cursor: pointer;
  margin-top: 1.3rem;
}

.btn1:hover {
  background: var(--hover);
  color: var(--background);
}

/* end of settings */

/* dark mode for the webpage */
.dark-mode {
  --white: #ffffff;
  --purple: #5c8695;
  --hover: #4c6274;
  --themeDotBorder: #f9f871;
  --background: #26222c;
  --text: #ffffff;
  --bodycolor: #3b4050;
}
/* end of darkmode part */

/* address text color */
.color {
  color: #666;
}
/* end of part */

/* settings for the buttons about view details, all properties, about me in the homepage */
.btn {
  margin-top: 1rem;
  display: inline-block;
  padding: 0.8rem 3.5rem;
  border-radius: 0.5rem;
  font-size: 1.7rem;
  color: var(--white);
  background: var(--purple);
  cursor: pointer;
  text-align: center;
}

.btn:hover {
  background: var(--hover);
  color: var(--background);
}
/* end of part */

/* properties for headings in the diferent sections*/
.heading {
  text-align: center;
  color: var(--text);
  font-size: 4rem;
  padding-bottom: 1rem;
}

.heading span {
  color: var(--white);
  background: var(--purple);
  border-radius: 0.5rem;
  padding: 0.2rem 1.5rem;
}

.heading span:hover {
  background: var(--hover);
}

/* end of part */

/* settings for navigationbar */
header .navbar a {
  color: var(--text);
  font-size: 2rem;
  padding: 0 1.5rem;
}

header .navbar a:hover {
  color: var(--purple);
}

header .icons #menu-bars,
header .icons a {
  height: 4.5rem;
  line-height: 4.5rem;
  width: 5rem;
  font-size: 2rem;
  margin-right: 0.5rem;
  border-radius: 0.5rem;
  color: var(--white);
  background: var(--purple);
  text-align: center;
}

header .icons #menu-bars:hover,
header .icons a:hover {
  background-color: var(hover);
  color: var(--background);
}

header .icons #menu-bars {
  display: none;
  cursor: pointer;
}

a#icon {
  cursor: pointer;
}

header .fa-user:hover,
header .fa-moon:hover,
header #menu-bars:hover {
  background: var(--hover);
}
/* end of part */

/* find your fit form + image settings */
.home {
  min-height: 100vh;
  background: url("images/alex-bg.jpg") no-repeat;
  background-size: cover;
  background-position: center;
  background-attachment: fixed;
  display: flex;
  align-items: center;
  justify-content: center;
}

.home form {
  margin-top: 7rem;
  background: var(--background);
  border-radius: 0.5rem;
  box-shadow: 0 0.5rem 1rem rgba(0, 0, 0, 0.2);
  border: 0.1rem solid rgba(0, 0, 0, 0.2);
  width: 100%;
  padding: 2rem;
  box-shadow: 6px 6px 7px 7px rgb(0 0 0 / 44%);
}

.home form h3 {
  text-align: center;
  color: var(--text);
  font-size: 3rem;
}

.home form .buttons {
  display: flex;
  gap: 1.5rem;
}

.home form .buttons .btn {
  flex: 1;
}

.home form .inputBox {
  display: flex;
  flex-wrap: wrap;
  gap: 1.5rem;
  margin-top: 2rem;
}

.home form .inputBox input,
.home form .inputBox select {
  flex: 1 1 25rem;
  border: 0.1rem solid var(--text);
  box-shadow: 0 0.5rem 1.5rem rgba(0, 0, 0, 0.1);
  font-size: 1.5rem;
  padding: 1rem;
  text-transform: none;
}

.home form .btn {
  width: 100%;
  margin-top: 2rem;
}
/* end of part */

/* featured properties settings */
.featuredproperty .box-container {
  display: flex;
  flex-wrap: wrap;
  gap: 1.5rem;
}

.featuredproperty .box-container .box {
  border: 0.1rem solid rgba(0, 0, 0.2);
  box-shadow: 0 0.5rem 1rem rgba(0, 0, 0, 0.1);
  border-radius: 0.5rem;
  overflow: hidden;
  background: var(--background);
  flex: 1 1 30rem;
}

.featuredproperty .box-container .box .images {
  overflow: hidden;
  position: relative;
  width: 100%;
  height: 25rem;
}

.featuredproperty .box-container .box .images img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  transition: 0.2s linear;
}

.featuredproperty .box-container .box:hover .images img {
  transform: scale(1.1);
}

.featuredproperty .box-container .box .images .information {
  position: absolute;
  top: 1rem;
  left: 0;
  display: flex;
}

.featuredproperty .box-container .box .images .information h3 {
  font-weight: 500;
  font-size: 1.4rem;
  color: white;
  background: rgba(0, 0, 0, 0.3);
  border-radius: 0.5rem;
  padding: 0.5rem 1.5rem;
  margin-left: 1rem;
}

.featuredproperty .box-container .box .images .icons {
  position: absolute;
  bottom: 1rem;
  right: 0;
  display: flex;
}

.featuredproperty .box-container .box .images .icons a {
  font-size: 1.4rem;
  color: white;
  display: flex;
  border-radius: 0.5rem;
  background: rgba(0, 0, 0, 0.3);
  margin-right: 1rem;
  padding: 0.7rem;
}

.featuredproperty .box-container .box .images .icons a h3 {
  font-weight: 500;
  padding-left: 0.5rem;
}

.featuredproperty .box-container .box .images .icons a:hover {
  background: var(--background);
  color: var(--text);
}

.featuredproperty .box-container .box .content {
  padding: 1.5rem;
}

.featuredproperty .box-container .box .content .price {
  display: flex;
  align-items: center;
}

.featuredproperty .box-container .box .content .price h3 {
  color: var(--purple);
  font-size: 2rem;
  margin-right: auto;
}

.featuredproperty .box-container .box .content .price a {
  color: var(--purple);
  font-size: 1.5rem;
  margin-right: 0.5rem;
  border-radius: 0.5rem;
  height: 4rem;
  width: 4rem;
  line-height: 4rem;
  text-align: center;
  background: #f7f7f7;
}

.featuredproperty .box-container .box .content .price a:hover {
  background: var(--hover);
  color: var(--background);
}

.featuredproperty .box-container .box .content .location {
  padding: 1rem 0;
}

.featuredproperty .box-container .box .content .location h3 {
  font-size: 2.5rem;
  color: var(--text);
}

.featuredproperty .box-container .box .content .location p {
  font-size: 1.5rem;
  color: var(--text);
  line-height: 1.5;
  padding-top: 0.5rem;
}

.featuredproperty .box-container .box .content .buttons {
  display: flex;
  gap: 1rem;
}

.featuredproperty .box-container .box .content .buttons .btn {
  flex: 1;
  font-size: 1.5rem;
}
/* end of part */

/* services settings */
.services .box-container {
  display: flex;
  flex-wrap: wrap;
  gap: 1.5rem;
}

.services .box-container .box {
  flex: 1 1 30rem;
  border-radius: 0.5rem;
  background: var(--background);
  box-shadow: 0 0.5rem 1rem rgba(0, 0, 0, 0.1);
  border: 0.1rem solid rgba(0, 0, 0, 0.2);
  text-align: center;
  padding: 2rem;
}

.services .box-container .box h3 {
  font-size: 2.5rem;
  color: var(--text);
}

.services .box-container .box p {
  font-size: 1.5rem;
  color: var(--text);
  padding: 0.5rem 0;
  line-height: 2;
}
/* end of part */

/* our team section settings */
.team .box-container {
  display: flex;
  flex-wrap: wrap;
  gap: 1.5rem;
  justify-content: center;
}

.team .box-container .box {
  background: var(--background);
  text-align: center;
  border: 0.1rem solid rgba(0, 0, 0, 0.1);
  border-radius: 0.5rem;
  padding: 2rem;
  position: relative;
  width: 26rem;
  transition: all 0.2s ease-in-out;
}

.team .box-container .box .fa-envelope {
  position: absolute;
  top: 1.8rem;
  left: 2rem;
  color: var(--text);
  font-size: 2rem;
}

.team .box-container .box:hover {
  transform: scale(1.1);
}

.team .box-container .box .fa-envelope:hover {
  color: var(--hover);
}

.team .box-container .box .fa-phone {
  position: absolute;
  top: 1.8rem;
  right: 2rem;
  color: var(--text);
  font-size: 2rem;
}

.team .box-container .box .fa-phone:hover {
  color: var(--hover);
}

.team .box-container .box img {
  border-radius: 50%;
  box-shadow: 0 0 0 0.5rem rgba(0, 0, 0, 0.1);
  object-fit: conver;
  height: 10rem;
  width: 10rem;
  margin: 1rem 0;
}

.team .box-container .box h3 {
  font-size: 2rem;
  color: var(--text);
}

.team .box-container .box span {
  font-size: 1.7rem;
  color: var(--hover);
}
/* end of part */

/* contact us + form, textarea, input  settings*/
.contactpage .iconclass {
  display: flex;
  flex-wrap: wrap;
  gap: 1.5rem;
  padding-bottom: 2rem;
}

.contactpage .iconclass .icons {
  flex: 1 1 25rem;
  background: var(--background);
  padding: 2rem;
  border: 0.1rem solid rgba(0, 0, 0, 0.2);
  border-radius: 0.5rem;
  box-shadow: 0 0.5rem 1rem rgba(0, 0, 0, 0.1);
  text-align: center;
  font-size: 16px;
}

.contactpage .iconclass .icons img {
  height: 6rem;
}

.contactpage .iconclass .icons h3 {
  font-size: 2.5rem;
  color: var(--text);
  padding: 1rem 0;
}

.contactpage .iconclass .icons p a {
  font-size: 1.5rem;
  color: #666;
  padding: 0.2rem 0;
  text-decoration: none;
}

.contactpage .messagebox {
  background: var(--background);
  border: 0.1rem solid rgba(0, 0, 0, 0.2);
  box-shadow: 0 0.5rem 1rem rgba(0, 0, 0, 0.1);
  border-radius: 0.5rem;
  display: flex;
  flex-wrap: wrap-reverse;
  padding: 1rem;
}

.contactpage .messagebox form {
  flex: 1 1 50rem;
  padding: 0.5rem 1rem;
}

.contactpage .messagebox .location {
  flex: 1 1 30rem;
  width: 100%;
  padding: 1rem;
}

.contactpage .messagebox form .inputBox {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}

.contactpage .messagebox form textarea,
.contactpage .messagebox form .inputBox input {
  margin-top: 1rem;
  padding: 1rem;
  font-size: 1.7rem;
  color: #000;
  background: #f7f7f7;
  border-radius: 0.5rem;
  text-transform: none;
  width: 49%;
}

.contactpage .messagebox form textarea {
  width: 100%;
  height: 20rem;
  resize: none;
}
/* end of part */

/* color of the text of the footer */
.footer {
  color: var(--text);
}

/* properties button for returning to top (smoothly) - hidden by default */
.topBtn {
  background-color: var(--purple);
  border: none;
  color: white;
  cursor: pointer;
  font-size: 18px;
  line-height: 48px;
  width: 48px;
  position: fixed;
  bottom: 20px;
  right: 20px;
  z-index: 100;
  opacity: 0;
  transform: translateY(100px);
  transition: all 0.5s ease;
}

.showBtn {
  opacity: 1;
  transform: translateY(0);
}

.showBtn:hover {
  background: var(--hover);
}
/* end of part */

/* as responsive as possible */
@media (max-width: 991px) {
  html {
    font-size: 55%;
  }

  header {
    padding: 1.5rem 1rem;
  }

  section {
    padding: 1.5rem;
  }
}

@media (max-width: 768px) {
  header .icons #menu-bars {
    display: inline-block;
  }

  header .navbar {
    position: absolute;
    left: 0;
    right: 0;
    top: 100%;
    background: #f7f7f7;
    border-top: 0.1rem solid var(--text);
    border-bottom: 0.1rem solid var(--text);
    transition: 0.2s linear;
    clip-path: polygon(0 0, 100% 0, 100% 0, 0 0);
  }

  header .navbar.active {
    clip-path: polygon(0 0, 100% 0, 100% 100%, 0% 100%);
  }

  header .navbar a {
    display: block;
    padding: 1.5rem;
    margin: 1.5rem;
    background: var(--background);
    border: 0.1rem solid var(--text);
    box-shadow: 0 0.5rem 1rem rgba(0, 0, 0, 0.1);
    border-radius: 0.5rem;
  }
}

@media (max-width: 450px) {
  html {
    font-size: 50%;
  }

  .contactpage .messagebox form .inputBox input {
    width: 100%;
  }
}
/* end of part */
